<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Statistics - magneticow</title>
    <link rel="stylesheet" href="/static/styles/reset.css">
    <link rel="stylesheet" href="/static/styles/essential.css">
    <link rel="stylesheet" href="/static/styles/statistics.css">
    <script defer src="/static/scripts/plotly-v1.26.1.min.js"></script>
    <script defer src="/static/scripts/statistics.js"></script>
</head>
<body>
<header>
    <script>
        var torrentsData = {
            x: {{ .Dates }},
            y: {{ .Stats.NTorrents }},
            mode: "lines+markers",
            name: 'Torrents',
        };
        var filesData = {
            x: {{ .Dates }},
            y: {{ .Stats.NFiles }},
            mode: "lines+markers",
            name: 'Files',
            yaxis: 'y2',
        };
        var sizeData = {
            x: {{ .Dates }},
            y: {{ .Stats.TotalSize }},
            mode: "lines+markers",
            name: 'Size',
            yaxis: 'y3',
        };
        var data = [torrentsData, filesData, sizeData]
    </script>

    <div><a href="/"><b>magnetico<sup>w</sup></b></a>&#8203;<sub>(pre-alpha)</sub></div>
</header>
<main>
    <div id="torrentGraph"></div>
</main>
</body>
</html>
