<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ if .Search }}"{{ .Search}}"{{ else }}Most recent torrents{{ end }} - magneticow</title>
    <link rel="stylesheet" href="static/styles/reset.css">
    <link rel="stylesheet" href="static/styles/essential.css">
    <link rel="stylesheet" href="static/styles/torrents.css">
    <!-- <script src="script.js"></script> -->
</head>
<body>
<header>
    <div><a href="/"><b>magnetico<sup>w</sup></b></a>&#8203;<sub>(pre-alpha)</sub></div>
    <form action="/torrents" method="get" autocomplete="off" role="search">
        <input type="search" name="search" placeholder="Search the BitTorrent DHT" value="{{ .Search }}">
    </form>
    <div>
        <a href="{{ .SubscriptionURL }}"><img src="static/assets/feed.png"
                                              alt="feed icon" title="subscribe" /> subscribe</a>
    </div>
</header>
<main>
    <table>
        <thead>
            <tr>
                <th><!-- Magnet link --></th>
                <th>
                {{ if eq .OrderBy "name ASC" }}
                    <a href="/torrents/?search={{ .Search }}&sort_by=name+DESC">Name ▲</a>
                {{ else if eq .OrderBy "name DESC" }}
                    <a href="/torrents/?search={{ .Search }}&sort_by=name+ASC">Name ▼</a>
                {{ else }}
                    <a href="/torrents/?search={{ .Search }}&sort_by=name+ASC">Name</a>
                {{ end }}
                </th>
                <th>
                {{ if eq .OrderBy "total_size ASC" }}
                    <a href="/torrents/?search={{ .Search }}&sort_by=total_size+DESC">Size ▲</a>
                {{ else if eq .OrderBy "total_size DESC" }}
                    <a href="/torrents/?search={{ .Search }}&sort_by=total_size+ASC">Size ▼</a>
                {{ else}}
                    <a href="/torrents/?search={{ .Search }}&sort_by=total_size+ASC">Size</a>
                {{ end}}
                </th>
                <th>
                {{ if eq .OrderBy "discovered_on ASC" }}
                    <a href="/torrents/?search={{ .Search }}&sort_by=discovered_on+DESC">Discovered on ▲</a>
                {{ else if eq .OrderBy "discovered_on DESC" }}
                    <a href="/torrents/?search={{ .Search }}&sort_by=discovered_on+ASC">Discovered on ▼</a>
                {{ else }}
                    <a href="/torrents/?search={{ .Search }}&sort_by=discovered_on+DESC">Discovered on</a>
                {{ end }}
                </th>
            </tr>
        </thead>
        <tbody>
        {{ range .Torrents }}
            <tr>
                <td><a href="magnet:?xt=urn:btih:{{ bytesToHex .InfoHash }}&dn={{ .Name }}">
                    <img src="static/assets/magnet.gif" alt="Magnet link"
                         title="Download this torrent using magnet" /></a></td>
                <td><a href="/torrents/{{ bytesToHex .InfoHash }}/{{ .Name }}">{{ .Name }}</a></td>
                <td>{{ humanizeSize .Size }}</td>
                <td>{{ unixTimeToYearMonthDay .DiscoveredOn }}</td>
            </tr>
        {{ end }}
        </tbody>
    </table>
</main>
<footer>

    <form action="/torrents" method="get">
        <button {{ if .NextPageExists }}disabled{{ end }}>Previous</button>
        <input type="text" name="search" value="{{ .Search }}" hidden>
        <input type="number" name="epoch" value="{{ .Epoch }}" hidden>
        {{ if .OrderBy }}
        <input type="text" name="orderBy" value="{{ .OrderBy }}" hidden>
        {{ end }}
        {{ if .Ascending }}
        <input type="text" name="ascending" value="{{ .Ascending }}" hidden>
        {{ end}}
        <input type="number" name="limit" value="{{ .Limit }}" hidden>
        <input type="text" name="lastOrderedValue" value="{{ .LastOrderedValue }}" hidden>
        <input type="text" name="lastID" value="{{ .LastID }}" hidden>
    </form>
    <form action="/torrents" method="get">
        <button {{ if not .NextPageExists }}disabled{{ end }}>Next</button>
        <input type="text" name="search" value="{{ .Search }}" hidden>
        <input type="number" name="epoch" value="{{ .Epoch }}" hidden>
        {{ if .OrderBy }}
        <input type="text" name="orderBy" value="{{ .OrderBy }}" hidden>
        {{ end }}
        {{ if .Ascending }}
        <input type="text" name="ascending" value="{{ .Ascending }}" hidden>
        {{ end}}
        <input type="number" name="limit" value="{{ .Limit }}" hidden>
        <input type="text" name="lastOrderedValue" value="{{ .LastOrderedValue }}" hidden>
        <input type="text" name="lastID" value="{{ .LastID }}" hidden>
    </form>
</footer>
</body>
</html>
