<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ .Torrent.Name }} - magnetico</title>
    <link rel="stylesheet" href="/static/styles/reset.css">
    <link rel="stylesheet" href="/static/styles/essential.css">
    <link rel="stylesheet" href="/static/styles/torrent.css">
    <script defer src="/static/scripts/torrent.js"></script>
</head>
<body>
<header>
    <div><a href="/"><b>magnetico<sup>w</sup></b></a>&#8203;<sub>(pre-alpha)</sub></div>
    <form action="/torrents" method="get" autocomplete="off" role="search">
        <input type="search" name="search" placeholder="Search the BitTorrent DHT">
    </form>
</header>
<main>
    <div id="title">
        <h2>{{ .Torrent.Name }}</h2>
        <a href="magnet:?xt=urn:btih:{{ bytesToHex .Torrent.InfoHash }}&dn={{ .Torrent.Name }}">
            <img src="/static/assets/magnet.gif" alt="Magnet link"
                         title="Download this torrent using magnet" />
            <small>{{ bytesToHex .Torrent.InfoHash }}</small>
        </a>
    </div>

    <table>
        <tr>
            <th scope="row">Size</th>
            <td>{{ humanizeSize .Torrent.Size }}</td>
        </tr>
        <tr>
            <th scope="row">Discovered on</th>
            <td>{{ unixTimeToYearMonthDay .Torrent.DiscoveredOn }}</td>
        </tr>
        <tr>
            <th scope="row">Files</th>
            <td>{{ .Torrent.NFiles }}</td>
        </tr>
    </table>

    <h3>Contents</h3>
    <noscript>
        <pre>
            {{ range .Files }}
                {{ .Path }}
            {{ end }}
        </pre>
    </noscript>
    <!-- Content of this element will be overwritten by the script -->
    <pre>
{{ range .Files }}
{{ .Path }}     {{ .Size }}
{{ end }}
    </pre>
</main>
</body>
</html>